@media (max-width: 1000px){
    .body{
        overflow-x: hidden;
    }
    .right{
        display: none;
    }
    .hero button{
        display: none;
    }
    .wrapping{
        flex-direction: column;
        margin:auto;

    }
    .card{
        height: 20vh;
        margin: 5em;
    }
    .box1{
        flex-direction: column;
    }
    .wrap{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 600px){
    .form-styled input{
        width: 25vw;
    }
    .form-styled textarea{
        width: 25vw;
    }
    .form-styled button{
        width: 25vw;
    }
    button a{
        font: 2em;
        margin: auto;
    }
    .wrapping{
        flex-direction: column;
        margin-top: 3em;
    }
    .card{
        height:60vh;
    }
}