@media (max-width: 1000px){
    .body{
        overflow-x: hidden;
    }
    .right{
        display: none;
    }
    .hero button{
        display: none;
    }
    .wrapping{
        flex-direction: column;
        margin:auto;

    }
    .card{
        height: 20vh;
        margin: 5em;
    }
    .box1{
        flex-direction: column;
    }
    .wrap{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 600px){
    body{
        margin: 0%;
    }
    .form-styled input{
        width: 25vw;
        margin: auto;
    }
    .form-styled textarea{
        width: 25vw;
        margin: auto;
    }
    .button{
        width: 25vw;
        margin: 2em auto;
    }
    .button a{
        font-size: .8em;
        font-weight: 400;
        letter-spacing: 1;
    }
    .wrapping{
        flex-direction: column;
        margin-top: 3em;
    }
    .card{
        height:60vh;
    }
}